html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

* {
  box-sizing: border-box;
  font-family: "Womby";
  margin: 0;
}

html,
body {
  overflow-x: clip;
  margin: 0;
}

video {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-wrapper {
  position: relative;
  aspect-ratio: 16/9;
}
.video-wrapper img {
  pointer-events: none;
  position: relative;
  z-index: 1;
}
.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 17% 18.5% 2.5% 17%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #000;
  z-index: 9999999999;
}

.rikshaw {
  width: 300px;
  position: relative;
  top: 0;
  aspect-ratio: 5/4;
  z-index: 40;
}
.rikshaw .rikshaw-body {
  position: relative;
  z-index: 1;
}
.rikshaw .tyres {
  display: block;
}
.rikshaw .tyres img {
  display: inline-block;
  width: 22%;
}
.rikshaw .tyres .front,
.rikshaw .tyres .back {
  display: block;
  position: absolute;
  bottom: 0;
}
.rikshaw .tyres .front {
  left: 2%;
}
.rikshaw .tyres .back {
  right: 6.25%;
}

.rails {
  width: 100%;
  height: 100px;
  background: url("./img/railing.svg") center bottom/contain repeat-x;
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 50;
}

.building {
  display: block;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 104%;
  left: -2%;
}

.clouds {
  position: absolute;
  left: 0;
  top: -6rem;
  width: 100%;
  padding-inline: 8rem;
}

.sun {
  position: absolute;
  width: 35%;
  left: 50%;
  height: 300px;
  top: -296px;
  transform: translateX(-50%);
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.lamp {
  position: absolute;
  width: auto;
  top: -14rem;
}
.lamp--left {
  left: 5rem;
}
.lamp--right {
  right: 5rem;
}
.lamp .lamp-frame {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 10;
  height: 16rem;
}
.lamp .lamp-light {
  height: 14rem;
  top: 0;
  left: 0;
}

.plant {
  height: 10rem;
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

#intro {
  height: 5500px;
}

#gate {
  height: 8000px;
}

[id*=-bg] {
  height: calc(100vh - 50px) !important;
  margin-top: 50px !important;
  border-radius: 200px;
}

@media (max-width: 768px) {
  .rikshaw {
    width: 200px;
    top: 1px;
  }
  .rails {
    height: 50px;
    top: -48px;
    background-position: center bottom;
    background-size: cover;
  }
  .clouds {
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    padding-inline: 0;
  }
  .sun {
    height: 120px;
    width: 60%;
    top: -119px;
  }
  .lamp {
    position: absolute;
    width: auto;
    top: -8.5rem;
  }
  .lamp--left {
    left: -5rem;
  }
  .lamp--right {
    right: -5rem;
  }
  .lamp .lamp-frame {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
    height: 10rem;
  }
  .lamp .lamp-light {
    height: 8.5rem;
    top: 0;
    left: 0;
  }
  .plant {
    height: 6rem;
  }
  [id*=-bg] {
    height: calc(100vh - 50px) !important;
    margin-top: 50px !important;
    border-radius: 80px;
  }
}/*# sourceMappingURL=style.css.map */