// LENNIS

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

// LENNIS

* {
  box-sizing: border-box;
  font-family: "Womby", sans-serif;
  margin: 0;
}

html,
body {
  overflow-x: clip;
  margin: 0;
}

video {
  max-width: 100%;
  object-fit: cover;
}

.video-wrapper {
  position: relative;
  aspect-ratio: 16/9;

  img {
    pointer-events: none;
    position: relative;
    z-index: 1;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding: 17% 18.5% 2.5% 17%;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 9999999999;

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      display: flex;
      align-items: center;
      color: #fff;

      &:not(:last-child)::after {
        content: '|';
        flex-shrink: 0;
        display: block;
        width: 4px;
        margin-left: 1rem;
        background-color: #fff;
      }
    }
  }
}

// video {
//   clip-path: url(#clipPath);
// }

.rikshaw {
  width: 300px; // control rikshaw size here
  position: relative;
  top: 0;
  aspect-ratio: 5/4;
  z-index: 40;

  .rikshaw-body {
    position: relative;
    z-index: 1;
  }

  .tyres {
    display: block;

    img {
      display: inline-block;
      width: 22%;
    }

    .front,
    .back {
      display: block;
      position: absolute;
      bottom: 0;
    }

    .front {
      left: 2%;
    }

    .back {
      right: 6.25%;
    }
  }
}

.rails {
  width: 100%;
  height: 100px;
  background: url("./img/railing.svg") center bottom/contain repeat-x;
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 50;
}

.building {
  display: block;
  position: relative;
  object-fit: cover;
  width: 104%;
  left: -2%;
}

.clouds {
  position: absolute;
  left: 50%;
  top: -10rem;
  width: 80%;
  padding-inline: 8rem;
  transform: translateX(-50%);
}

.sun {
  position: absolute;
  width: 35%;
  left: 50%;
  height: 300px;
  top: -296px;
  transform: translateX(-50%);
  z-index: -1;
  object-fit: contain;
  object-position: center bottom;
}

.lamp {
  position: absolute;
  width: auto;
  top: -14rem;

  &--left {
    left: 5rem;
  }

  &--right {
    right: 5rem;
  }

  .lamp-frame {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
    height: 16rem;
  }
  .lamp-light {
    height: 14rem;
    top: 0;
    left: 0;
  }
}

.plant {
  height: 10rem;
}

.gate {
  position: absolute;
  bottom: 72px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 32%;
  aspect-ratio: 912 / 1228;
}

.door {
  position: absolute;
  z-index: 50;
  width: 40%;
  left: 10%;
  bottom: -2px;

  &__right {
    left: unset;
    right: 10%;
  }
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

// SECTIONS

// #intro

#intro {
  height: 5500px;
}

// #gate

#gate {
  // height: calc(5000px + 3000px); // needed 5000 + 3000 offset for later sections
  height: calc(5000px); // needed 5000 + 3000 offset for later sections
}

// #projects

#projects {
  display: none;
}

// backgrounds

[id*="-bg"] {
  height: calc(100vh - 50px) !important;
  margin-top: 50px !important;
  border-radius: 200px;
}

@media (max-width: 768px) {
  header nav {
    display: none;
  }
  .rikshaw {
    width: 200px;
    top: 1px;
  }
  .rails {
    height: 50px;
    top: -48px;
    background-position: center bottom;
    background-size: cover;
  }
  .clouds {
    left: 50%;
    // top: -6rem;
    transform: translateX(-50%);
    width: 120%;
    padding-inline: 0;
  }
  .sun {
    height: 120px;
    width: 60%;
    top: -119px;
  }
  .lamp {
    position: absolute;
    width: auto;
    top: -8.5rem;

    &--left {
      left: -5rem;
    }

    &--right {
      right: -5rem;
    }

    .lamp-frame {
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 10;
      height: 10rem;
    }
    .lamp-light {
      height: 8.5rem;
      top: 0;
      left: 0;
    }
  }
  .plant {
    height: 6rem;
  }
  [id*="-bg"] {
    height: calc(100vh - 50px) !important;
    margin-top: 50px !important;
    border-radius: 80px;
  }
  .gate {
    padding-top: 180px;
  }
}
